@font-face {
  font-family: "Trebuchet MS";
  src: url("./fonts/trebuchetms.ttf");
}

@font-face {
  src: url("./fonts/Exo2.0-Thin.otf") format("opentype");
  font-family: "Exo 2.0- Thin";
}

:root {
  /* Typography */
  --family: "Trebuchet MS", sans-serif;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-22: 22px;
  --fs-24: 24px;
  --fs-36: 36px;
  --fs-42: 42px;
  --fs-48: 48px;

  --fw-normal: 400;
  --fw-medium: 700;
  --fw-bold: 800;

  /* colors */
  --white100: #ffffff;
  --white200: #f2f2f2;
  --grey200: #b3b3b3;
  --grey300: #666666;
  --pink100: #d91667;
  --blue300: #1698d9;
  --yellow100: #ffff66;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--family);
}
